
// ---------------------------------
// |            Padding            |
// ---------------------------------

.p-0 {
	padding: 0 !important !important;
}

.p-4 {
	padding: rem-calc(4) !important;
}

.p-8 {
	padding: rem-calc(8) !important;
}

.p-12 {
	padding: rem-calc(12) !important;
}

.p-16 {
	padding: rem-calc(16) !important;
}

.p-20 {
	padding: rem-calc(20) !important;
}

.p-24 {
	padding: rem-calc(24) !important;
}

.p-32 {
	padding: rem-calc(32) !important;
}

.p-40 {
	padding: rem-calc(40) !important;
}



// -------------------------------------
// |            padding-top            |
// -------------------------------------

.pt-0 {
	padding-top: 0 !important;
}

.pt-4 {
	padding-top: rem-calc(4) !important;
}

.pt-8 {
	padding-top: rem-calc(8) !important;
}

.pt-12 {
	padding-top: rem-calc(12) !important;
}

.pt-16 {
	padding-top: rem-calc(16) !important;
}

.pt-20 {
	padding-top: rem-calc(20) !important;
}

.pt-24 {
	padding-top: rem-calc(24) !important;
}

.pt-32 {
	padding-top: rem-calc(32) !important;
}

.pt-40 {
	padding-top: rem-calc(40) !important;
}



// ----------------------------------------
// |            padding-bottom            |
// ----------------------------------------

.pb-0 {
	padding-bottom: 0 !important;
}

.pb-4 {
	padding-bottom: rem-calc(4) !important;
}

.pb-8 {
	padding-bottom: rem-calc(8) !important;
}

.pb-12 {
	padding-bottom: rem-calc(12) !important;
}

.pb-16 {
	padding-bottom: rem-calc(16) !important;
}

.pb-20 {
	padding-bottom: rem-calc(20) !important;
}

.pb-24 {
	padding-bottom: rem-calc(24) !important;
}

.pb-32 {
	padding-bottom: rem-calc(32) !important;
}

.pb-40 {
	padding-bottom: rem-calc(40) !important;
}



// ---------------------------------------
// |            padding-right            |
// ---------------------------------------

.pr-0 {
	padding-right: 0 !important;
}

.pr-4 {
	padding-right: rem-calc(4) !important;
}

.pr-8 {
	padding-right: rem-calc(8) !important;
}

.pr-12 {
	padding-right: rem-calc(12) !important;
}

.pr-16 {
	padding-right: rem-calc(16) !important;
}

.pr-20 {
	padding-right: rem-calc(20) !important;
}

.pr-24 {
	padding-right: rem-calc(24) !important;
}

.pr-32 {
	padding-right: rem-calc(32) !important;
}

.pr-40 {
	padding-right: rem-calc(40) !important;
}



// --------------------------------------
// |            padding-left            |
// --------------------------------------

.pl-0 {
	padding-left: 0 !important;
}

.pl-4 {
	padding-left: rem-calc(4) !important;
}

.pl-8 {
	padding-left: rem-calc(8) !important;
}

.pl-12 {
	padding-left: rem-calc(12) !important;
}

.pl-16 {
	padding-left: rem-calc(16) !important;
}

.pl-20 {
	padding-left: rem-calc(20) !important;
}

.pl-24 {
	padding-left: rem-calc(24) !important;
}

.pl-32 {
	padding-left: rem-calc(32) !important;
}

.pl-40 {
	padding-left: rem-calc(40) !important;
}



// ----------------------------------------------
// |            padding left & right            |
// ----------------------------------------------

.px-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.px-4 {
	padding-left: rem-calc(4) !important;
	padding-right: rem-calc(4) !important;
}

.px-8 {
	padding-left: rem-calc(8) !important;
	padding-right: rem-calc(8) !important;
}

.px-12 {
	padding-left: rem-calc(12) !important;
	padding-right: rem-calc(12) !important;
}

.px-16 {
	padding-left: rem-calc(16) !important;
	padding-right: rem-calc(16) !important;
}

.px-20 {
	padding-left: rem-calc(20) !important;
	padding-right: rem-calc(20) !important;
}

.px-24 {
	padding-left: rem-calc(24) !important;
	padding-right: rem-calc(24) !important;
}

.px-32 {
	padding-left: rem-calc(32) !important;
	padding-right: rem-calc(32) !important;
}

.px-40 {
	padding-left: rem-calc(40) !important;
	padding-right: rem-calc(40) !important;
}



// ----------------------------------------------
// |            padding top & bottom            |
// ----------------------------------------------

.py-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.py-4 {
	padding-top: rem-calc(4) !important;
	padding-bottom: rem-calc(4) !important;
}

.py-8 {
	padding-top: rem-calc(8) !important;
	padding-bottom: rem-calc(8) !important;
}

.py-12 {
	padding-top: rem-calc(12) !important;
	padding-bottom: rem-calc(12) !important;
}

.py-16 {
	padding-top: rem-calc(16) !important;
	padding-bottom: rem-calc(16) !important;
}

.py-20 {
	padding-top: rem-calc(20) !important;
	padding-bottom: rem-calc(20) !important;
}

.py-24 {
	padding-top: rem-calc(24) !important;
	padding-bottom: rem-calc(24) !important;
}

.py-32 {
	padding-top: rem-calc(32) !important;
	padding-bottom: rem-calc(32) !important;
}

.py-40 {
	padding-top: rem-calc(40) !important;
	padding-bottom: rem-calc(40) !important;
}



// ---------------------------------------------------------------------- //



// ---------------------------------
// |            Margin            |
// ---------------------------------

.m-0 {
	margin: 0 !important;
}

.m-4 {
	margin: rem-calc(4) !important;
}

.m-8 {
	margin: rem-calc(8) !important;
}

.m-12 {
	margin: rem-calc(12) !important;
}

.m-16 {
	margin: rem-calc(16) !important;
}

.m-20 {
	margin: rem-calc(20) !important;
}

.m-24 {
	margin: rem-calc(24) !important;
}

.m-32 {
	margin: rem-calc(32) !important;
}

.m-40 {
	margin: rem-calc(40) !important;
}



// -------------------------------------
// |            margin-top            |
// -------------------------------------

.mt-0 {
	margin-top: 0 !important;
}

.mt-4 {
	margin-top: rem-calc(4) !important;
}

.mt-8 {
	margin-top: rem-calc(8) !important;
}

.mt-12 {
	margin-top: rem-calc(12) !important;
}

.mt-16 {
	margin-top: rem-calc(16) !important;
}

.mt-20 {
	margin-top: rem-calc(20) !important;
}

.mt-24 {
	margin-top: rem-calc(24) !important;
}

.mt-32 {
	margin-top: rem-calc(32) !important;
}

.mt-40 {
	margin-top: rem-calc(40) !important;
}



// ----------------------------------------
// |            margin-bottom            |
// ----------------------------------------

.mb-0 {
	margin-bottom: 0 !important;
}

.mb-4 {
	margin-bottom: rem-calc(4) !important;
}

.mb-8 {
	margin-bottom: rem-calc(8) !important;
}

.mb-12 {
	margin-bottom: rem-calc(12) !important;
}

.mb-16 {
	margin-bottom: rem-calc(16) !important;
}

.mb-20 {
	margin-bottom: rem-calc(20) !important;
}

.mb-24 {
	margin-bottom: rem-calc(24) !important;
}

.mb-32 {
	margin-bottom: rem-calc(32) !important;
}

.mb-40 {
	margin-bottom: rem-calc(40) !important;
}



// ---------------------------------------
// |            margin-right            |
// ---------------------------------------

.mr-0 {
	margin-right: 0 !important;
}

.mr-4 {
	margin-right: rem-calc(4) !important;
}

.mr-8 {
	margin-right: rem-calc(8) !important;
}

.mr-12 {
	margin-right: rem-calc(12) !important;
}

.mr-16 {
	margin-right: rem-calc(16) !important;
}

.mr-20 {
	margin-right: rem-calc(20) !important;
}

.mr-24 {
	margin-right: rem-calc(24) !important;
}

.mr-32 {
	margin-right: rem-calc(32) !important;
}

.mr-40 {
	margin-right: rem-calc(40) !important;
}



// --------------------------------------
// |            margin-left            |
// --------------------------------------

.ml-0 {
	margin-left: 0 !important;
}

.ml-4 {
	margin-left: rem-calc(4) !important;
}

.ml-8 {
	margin-left: rem-calc(8) !important;
}

.ml-12 {
	margin-left: rem-calc(12) !important;
}

.ml-16 {
	margin-left: rem-calc(16) !important;
}

.ml-20 {
	margin-left: rem-calc(20) !important;
}

.ml-24 {
	margin-left: rem-calc(24) !important;
}

.ml-32 {
	margin-left: rem-calc(32) !important;
}

.ml-40 {
	margin-left: rem-calc(40) !important;
}



// ----------------------------------------------
// |            margin left & right            |
// ----------------------------------------------

.mx-0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.mx-4 {
	margin-left: rem-calc(4) !important;
	margin-right: rem-calc(4) !important;
}

.mx-8 {
	margin-left: rem-calc(8) !important;
	margin-right: rem-calc(8) !important;
}

.mx-12 {
	margin-left: rem-calc(12) !important;
	margin-right: rem-calc(12) !important;
}

.mx-16 {
	margin-left: rem-calc(16) !important;
	margin-right: rem-calc(16) !important;
}

.mx-20 {
	margin-left: rem-calc(20) !important;
	margin-right: rem-calc(20) !important;
}

.mx-24 {
	margin-left: rem-calc(24) !important;
	margin-right: rem-calc(24) !important;
}

.mx-32 {
	margin-left: rem-calc(32) !important;
	margin-right: rem-calc(32) !important;
}

.mx-40 {
	margin-left: rem-calc(40) !important;
	margin-right: rem-calc(40) !important;
}



// ----------------------------------------------
// |            margin top & bottom            |
// ----------------------------------------------

.my-0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.my-4 {
	margin-top: rem-calc(4) !important;
	margin-bottom: rem-calc(4) !important;
}

.my-8 {
	margin-top: rem-calc(8) !important;
	margin-bottom: rem-calc(8) !important;
}

.my-12 {
	margin-top: rem-calc(12) !important;
	margin-bottom: rem-calc(12) !important;
}

.my-16 {
	margin-top: rem-calc(16) !important;
	margin-bottom: rem-calc(16) !important;
}

.my-20 {
	margin-top: rem-calc(20) !important;
	margin-bottom: rem-calc(20) !important;
}

.my-24 {
	margin-top: rem-calc(24) !important;
	margin-bottom: rem-calc(24) !important;
}

.my-32 {
	margin-top: rem-calc(32) !important;
	margin-bottom: rem-calc(32) !important;
}

.my-40 {
	margin-top: rem-calc(40) !important;
	margin-bottom: rem-calc(40) !important;
}
