@import "../../_settings.scss";

html,
body {
    height: 100%;
}

// THESE STYLES (HEIGHT/COLOR) ARE FOR EXAMPLE SETUP
// .height-wrapper {
//     min-height: 100%;
//     position:relative;

// 	main {
// 		padding-bottom: em(160);
// 	}

// 	footer {
// 		position: absolute;
// 		height: em(100);
// 		bottom: 0px;
// 		width: 100%;
// 		background: #d4d4d4;
// 	}
// }


// STICKY-FOOTER SETUP
// <div class="height-wrapper">

// 	<main>
// 		&nbsp;
// 	</main>

// 	<footer>
// 		&nbsp;
// 	</footer>

// </div>