.text-monospace {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
}

.open-sans {
	font-family: 'Open Sans', sans-serif;
}

.poppins {
	font-family: 'Poppins', sans-serif;
}

.montserrat {
	font-family: 'Montserrat', sans-serif;
}
