em,
i {
	font-style: italic;
	line-height: inherit;
}

strong,
b {
	font-weight: bold;
	line-height: inherit;
}

small {
	font-size: 80%;
	line-height: inherit;
}

.text-truncate {
	max-width: 100% !important;
	overflow: hidden !important;
	text-overflow: ellipsis;
	white-space: nowrap !important;
}

.text-nowrap {
	white-space: nowrap !important;
}

.text-wrap {
	word-wrap: break-word !important;
}

.text-overline {
	text-decoration: overline !important;
}

.text-underline {
	text-decoration: underline !important;
}

.text-line-through {
	text-decoration: line-through !important;
}

.text-decoration-none {
	text-decoration: none !important;
}
