root = true

[*]
indent_style = tab
indent_size = tab
tab_width = 3
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[config.yml]
end_of_line = none
insert_final_newline = none
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.json]
indent_style = space
indent_size = 2

[{**-min.js,*.svg}]
indent_style = ignore
insert_final_newline = ignore
