# ------------------------------------------------------------------------------
# | Rules for Versioned Static Files
# ------------------------------------------------------------------------------

RewriteRule ^(js|css)/(.+)\.(.+)\.(js|css)$ $1/$2.$4 [L]