// -------------------------------------------------------------
// |            CDN VARIABLE USAGE (IF USING A CDN)            |
// -------------------------------------------------------------
// USAGE NOTES
// 1. Insert below variable at the beginning of any "url('')" within your SASS files
	// #{$url}
// 2. Swap between the two below variables during development/production modes
	// Use "null" during development
	$url:null;
	// Comment-out "null" and uncomment below line to use proper CDN url during production
	// $url:'http://cdn.url.com';




// ---------------------------------------------------------------------------------------------------
// |            GOOGLE "MATERIAL DESIGN" BOX-SHADOW VARIABLES (TAKEN FROM "PAPER SHADOW")            |
// ---------------------------------------------------------------------------------------------------
// USAGE NOTES
// EXAMPLE:
	// .class {
	// 	box-shadow: $z-1;
	// }
$z-1: 0 rem(1) rem(4) 0 rgba(0,0,0,0.37);
$z-2: 0 rem(2) rem(2) 0 rgba(0,0,0,0.20), 0 rem(6) rem(10) 0 rgba(0,0,0,0.30);
$z-3: 0 rem(11) rem(7) 0 rgba(0,0,0,0.19), 0 rem(13) rem(25) 0 rgba(0,0,0,0.30);
$z-4: 0 rem(14) rem(12) 0 rgba(0,0,0,0.17), 0 rem(20) rem(40) 0 rgba(0,0,0,0.30);
$z-5: 0 rem(17) rem(17) 0 rgba(0,0,0,0.15), 0 rem(27) rem(55) 0 rgba(0,0,0,0.30);
