@import 'cdn/_var-cdn.scss';
@import 'box-shadow/_var-box-shadow.scss';


// ----------------------------------------------
// |            Typography Variables            |
// ----------------------------------------------

$p: rem-calc(16);

// Heading sizes
// (min-width=0)
$h1: rem-calc(32);
$h2: rem-calc(26);
$h3: rem-calc(22);
$h4: rem-calc(18);
$h5: rem-calc(16);
$h6: rem-calc(14);

// Heading sizes @medium+
// (min-width=640px)
$h1-medium: rem-calc(50);
$h2-medium: rem-calc(38);
$h3-medium: rem-calc(28);
$h4-medium: rem-calc(21);
