.border-1-black {
	border: rem-calc(1) solid #000 !important;
}

.border-2-black {
	border: rem-calc(2) solid #000 !important;
}

.border-3-black {
	border: rem-calc(3) solid #000 !important;
}

.border-4-black {
	border: rem-calc(4) solid #000 !important;
}

.border-5-black {
	border: rem-calc(5) solid #000 !important;
}

.border-6-black {
	border: rem-calc(6) solid #000 !important;
}

.border-7-black {
	border: rem-calc(7) solid #000 !important;
}

.border-8-black {
	border: rem-calc(8) solid #000 !important;
}

.border-top-0 {
	border-top: 0 !important;
}

.border-right-0 {
	border-right: 0 !important;
}

.border-bottom-0 {
	border-bottom: 0 !important;
}

.border-left-0 {
	border-left: 0 !important;
}
