.display-none {
	display: none !important;
}

.display-table-row {
	display: table-row !important;
}

.display-flex {
	display: flex !important;
}

.display-inline-flex {
	display: inline-flex !important;
}
