// -------------------------------------------------------
// |            Float Classes from Foundation            |
// -------------------------------------------------------

.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

.float-center {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.float-none {
	float: none !important;
}
