// ---------------------------------
// |            Padding            |
// ---------------------------------

.p-0 {
	padding: 0 !important;
}

.p-4 {
	padding: rem-calc(4) !important;
}

.p-8 {
	padding: rem-calc(8) !important;
}

.p-12 {
	padding: rem-calc(12) !important;
}

.p-16 {
	padding: rem-calc(16) !important;
}

.p-20 {
	padding: rem-calc(20) !important;
}

.p-24 {
	padding: rem-calc(24) !important;
}

.p-32 {
	padding: rem-calc(32) !important;
}

.p-40 {
	padding: rem-calc(40) !important;
}

// -------------------------------------
// |            padding-top            |
// -------------------------------------

.pt-0 {
	padding-top: 0 !important;
}

.pt-4 {
	padding-top: rem-calc(4) !important;
}

.pt-8 {
	padding-top: rem-calc(8) !important;
}

.pt-12 {
	padding-top: rem-calc(12) !important;
}

.pt-16 {
	padding-top: rem-calc(16) !important;
}

.pt-20 {
	padding-top: rem-calc(20) !important;
}

.pt-24 {
	padding-top: rem-calc(24) !important;
}

.pt-32 {
	padding-top: rem-calc(32) !important;
}

.pt-40 {
	padding-top: rem-calc(40) !important;
}

// ----------------------------------------
// |            padding-bottom            |
// ----------------------------------------

.pb-0 {
	padding-bottom: 0 !important;
}

.pb-4 {
	padding-bottom: rem-calc(4) !important;
}

.pb-8 {
	padding-bottom: rem-calc(8) !important;
}

.pb-12 {
	padding-bottom: rem-calc(12) !important;
}

.pb-16 {
	padding-bottom: rem-calc(16) !important;
}

.pb-20 {
	padding-bottom: rem-calc(20) !important;
}

.pb-24 {
	padding-bottom: rem-calc(24) !important;
}

.pb-32 {
	padding-bottom: rem-calc(32) !important;
}

.pb-40 {
	padding-bottom: rem-calc(40) !important;
}

// ---------------------------------------
// |            padding-right            |
// ---------------------------------------

.pr-0 {
	padding-right: 0 !important;
}

.pr-4 {
	padding-right: rem-calc(4) !important;
}

.pr-8 {
	padding-right: rem-calc(8) !important;
}

.pr-12 {
	padding-right: rem-calc(12) !important;
}

.pr-16 {
	padding-right: rem-calc(16) !important;
}

.pr-20 {
	padding-right: rem-calc(20) !important;
}

.pr-24 {
	padding-right: rem-calc(24) !important;
}

.pr-32 {
	padding-right: rem-calc(32) !important;
}

.pr-40 {
	padding-right: rem-calc(40) !important;
}

// --------------------------------------
// |            padding-left            |
// --------------------------------------

.pl-0 {
	padding-left: 0 !important;
}

.pl-4 {
	padding-left: rem-calc(4) !important;
}

.pl-8 {
	padding-left: rem-calc(8) !important;
}

.pl-12 {
	padding-left: rem-calc(12) !important;
}

.pl-16 {
	padding-left: rem-calc(16) !important;
}

.pl-20 {
	padding-left: rem-calc(20) !important;
}

.pl-24 {
	padding-left: rem-calc(24) !important;
}

.pl-32 {
	padding-left: rem-calc(32) !important;
}

.pl-40 {
	padding-left: rem-calc(40) !important;
}

// ----------------------------------------------
// |            padding left & right            |
// ----------------------------------------------

.px-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.px-4 {
	padding-left: rem-calc(4) !important;
	padding-right: rem-calc(4) !important;
}

.px-8 {
	padding-left: rem-calc(8) !important;
	padding-right: rem-calc(8) !important;
}

.px-12 {
	padding-left: rem-calc(12) !important;
	padding-right: rem-calc(12) !important;
}

.px-16 {
	padding-left: rem-calc(16) !important;
	padding-right: rem-calc(16) !important;
}

.px-20 {
	padding-left: rem-calc(20) !important;
	padding-right: rem-calc(20) !important;
}

.px-24 {
	padding-left: rem-calc(24) !important;
	padding-right: rem-calc(24) !important;
}

.px-32 {
	padding-left: rem-calc(32) !important;
	padding-right: rem-calc(32) !important;
}

.px-40 {
	padding-left: rem-calc(40) !important;
	padding-right: rem-calc(40) !important;
}

// ----------------------------------------------
// |            padding top & bottom            |
// ----------------------------------------------

.py-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.py-4 {
	padding-top: rem-calc(4) !important;
	padding-bottom: rem-calc(4) !important;
}

.py-8 {
	padding-top: rem-calc(8) !important;
	padding-bottom: rem-calc(8) !important;
}

.py-12 {
	padding-top: rem-calc(12) !important;
	padding-bottom: rem-calc(12) !important;
}

.py-16 {
	padding-top: rem-calc(16) !important;
	padding-bottom: rem-calc(16) !important;
}

.py-20 {
	padding-top: rem-calc(20) !important;
	padding-bottom: rem-calc(20) !important;
}

.py-24 {
	padding-top: rem-calc(24) !important;
	padding-bottom: rem-calc(24) !important;
}

.py-32 {
	padding-top: rem-calc(32) !important;
	padding-bottom: rem-calc(32) !important;
}

.py-40 {
	padding-top: rem-calc(40) !important;
	padding-bottom: rem-calc(40) !important;
}
