// Specify width
.width-100 {
	width: 100% !important;
}

.width-75 {
	width: 75% !important;
}

.width-50 {
	width: 50% !important;
}

.width-25 {
	width: 25% !important;
}

.width-auto {
	width: auto !important;
}

// Specify Max-width
.max-width-100 {
	max-width: 100% !important;
}

.max-width-75 {
	max-width: 75% !important;
}

.max-width-50 {
	max-width: 50% !important;
}

.max-width-25 {
	max-width: 25% !important;
}

// Specify Min-width
.min-width-100 {
	min-width: 100% !important;
}

.min-width-75 {
	min-width: 75% !important;
}

.min-width-50 {
	min-width: 50% !important;
}

.min-width-25 {
	min-width: 25% !important;
}
