# ##############################################################################
# Bespoke/Trimmed .htaccess File
# ------------------------------------------------------------------------------
# Apache Server Configs v2.14.0 | MIT License
# https://github.com/h5bp/server-configs-apache
# ------------------------------------------------------------------------------
# INCLUDES ENTRY FOR JS/CSS AUTOVERSIONING (LOCATED AT BOTTOM OF FILE)
# ------------------------------------------------------------------------------


# ------------------------------------------------------------------------------------
# | Cross-origin images  |  Send the CORS header for images when browsers request it | 
# ------------------------------------------------------------------------------------

<IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
        <FilesMatch "\.(bmp|cur|gif|ico|jpe?g|png|svgz?|webp)$">
            SetEnvIf Origin ":" IS_CORS
            Header set Access-Control-Allow-Origin "*" env=IS_CORS
        </FilesMatch>
    </IfModule>
</IfModule>



# ----------------------------------------------------------------------
# | Cross-origin web fonts  |  Allow cross-origin access to web fonts  |
# ----------------------------------------------------------------------

<IfModule mod_headers.c>
    <FilesMatch "\.(eot|otf|tt[cf]|woff2?)$">
        Header set Access-Control-Allow-Origin "*"
    </FilesMatch>
</IfModule>



# -------------------------------------------------------------------------------------------------------
# | Custom error messages / pages  |  http://httpd.apache.org/docs/current/mod/core.html#errordocument  |
# -------------------------------------------------------------------------------------------------------

# Use 403 for 'access denied' - Don't necessarily need 403 by default
ErrorDocument 403 /403.html

# Use 404 for 'not found' - Is good to use
ErrorDocument 404 /404.html



# ----------------------------------------------------------------------
# | Character encodings                                                |
# ----------------------------------------------------------------------

# Serve the following file types with the media type `charset`
# parameter set to `UTF-8`.
#
# https://httpd.apache.org/docs/current/mod/mod_mime.html#addcharset

<IfModule mod_mime.c>
    AddCharset utf-8 .css \
                     .js \
                     .json \
                     .jsonld \
                     .manifest \
                     .rss \
                     .webapp \
                     .webmanifest \
                     .xml
</IfModule>


# ----------------------------------------------------------------------
# | Enable (Turn on) Rewrite engine                                    |
# | REQUIRED for www/not redirects, along with removing extensions     |
# ----------------------------------------------------------------------

# (1) Set %{ENV:PROTO} variable, to allow rewrites to redirect with the
#     appropriate schema automatically (http or https).
#

<IfModule mod_rewrite.c>

    RewriteEngine On
    Options +FollowSymlinks

    # (1)
    RewriteCond %{HTTPS} =on
    RewriteRule ^ - [env=proto:https]
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ - [env=proto:http]

</IfModule>


# ----------------------------------------------------------------------
# | Suppressing / Forcing the `www.` at the beginning of URLs          |
# ----------------------------------------------------------------------

# Rewrite www.example.com → example.com

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTPS} !=on
    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteRule ^ %{ENV:PROTO}://%1%{REQUEST_URI} [R=301,L]
</IfModule>


# ------------------------------------------------------------------------------
# | Remove & Redirect 'HTML' / 'PHP' / 'HTM' Endings                                         |
# ------------------------------------------------------------------------------

RewriteOptions inherit

RewriteEngine on
#example.com/page will display the contents of example.com/page.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]

#example.com/page will display the contents of example.com/page.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L,QSA]

#301 from example.com/page.php to example.com/page
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.php\ HTTP/
RewriteRule ^(.*)\.php$ /$1 [R=301,L]

#301 from example.com/page.htm to example.com/page
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.htm\ HTTP/
RewriteRule ^(.*)\.htm$ /$1 [R=301,L]

#301 from example.com/page.html to example.com/page
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.html\ HTTP/
RewriteRule ^(.*)\.html$ /$1 [R=301,L]



# ----------------------------------------------------------------------
# | Hosting Account Security [Content Security Policy (CSP)]           |
# ----------------------------------------------------------------------

# ----------------------------------------------------------------------
# | File access                                                        |
# ----------------------------------------------------------------------

# Block access to directories without a default document.
#
# You should leave the following uncommented, as you shouldn't allow
# anyone to surf through every directory on your server (which may
# includes rather private places such as the CMS's directories).

<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Block access to hidden files and directories.
# This includes directories used by version control systems such as Git and SVN.

<IfModule mod_rewrite.c>
    RewriteCond %{SCRIPT_FILENAME} -d [OR]
    RewriteCond %{SCRIPT_FILENAME} -f
    RewriteRule "(^|/)\." - [F]
</IfModule>


# ----------------------------------------------------------------------
# | Expires headers                                                    |
# ----------------------------------------------------------------------

# Serve resources with far-future expires headers.
#
# https://httpd.apache.org/docs/current/mod/mod_expires.html
#
# See: http://www.particletree.com/notebook/automatically-version-your-css-and-javascript-files/
# This webpage is the source of the auto-versioning snippet

<IfModule mod_expires.c>

    <FilesMatch "\.(bmp|gif|png|jpg?g|js|css|swf|svgz?|webp|mp4|ogg|webm)$">
        ExpiresActive On
        ExpiresDefault "access plus 10 years"
    </FilesMatch>

    ExpiresActive on
    ExpiresDefault                                      "access plus 1 month"


  # Data interchange

    ExpiresByType application/atom+xml                  "access plus 1 hour"
    ExpiresByType application/rdf+xml                   "access plus 1 hour"
    ExpiresByType application/rss+xml                   "access plus 1 hour"

    ExpiresByType application/json                      "access plus 0 seconds"
    ExpiresByType application/ld+json                   "access plus 0 seconds"
    ExpiresByType application/schema+json               "access plus 0 seconds"
    ExpiresByType application/vnd.geo+json              "access plus 0 seconds"
    ExpiresByType application/xml                       "access plus 0 seconds"
    ExpiresByType text/xml                              "access plus 0 seconds"


  # Favicon (cannot be renamed!) and cursor images

    ExpiresByType image/vnd.microsoft.icon              "access plus 1 week"
    ExpiresByType image/x-icon                          "access plus 1 week"

  # HTML

    ExpiresByType text/html                             "access plus 0 seconds"


  # Manifest files

    ExpiresByType application/manifest+json             "access plus 1 week"
    ExpiresByType application/x-web-app-manifest+json   "access plus 0 seconds"
    ExpiresByType text/cache-manifest                   "access plus 0 seconds"


  # Web fonts

    # Embedded OpenType (EOT)
    ExpiresByType application/vnd.ms-fontobject         "access plus 10 years"
    ExpiresByType font/eot                              "access plus 10 years"

    # OpenType
    ExpiresByType font/opentype                         "access plus 10 years"

    # TrueType
    ExpiresByType application/x-font-ttf                "access plus 10 years"

    # Web Open Font Format (WOFF) 1.0
    ExpiresByType application/font-woff                 "access plus 10 years"
    ExpiresByType application/x-font-woff               "access plus 10 years"
    ExpiresByType font/woff                             "access plus 10 years"

    # Web Open Font Format (WOFF) 2.0
    ExpiresByType application/font-woff2                "access plus 10 years"


  # Other

    ExpiresByType text/x-cross-domain-policy            "access plus 1 week"

</IfModule>


# ----------------------------------------------------------------------
# | Compression   [This section just copy/pasted from H5BP Config]     |
# ----------------------------------------------------------------------

<IfModule mod_deflate.c>

    # Force compression for mangled `Accept-Encoding` request headers
    # https://developer.yahoo.com/blogs/ydn/pushing-beyond-gzipping-25601.html

    <IfModule mod_setenvif.c>
        <IfModule mod_headers.c>
            SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
            RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
        </IfModule>
    </IfModule>

    # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    # Compress all output labeled with one of the following media types.
    #
    # (!) For Apache versions below version 2.3.7 you don't need to
    # enable `mod_filter` and can remove the `<IfModule mod_filter.c>`
    # and `</IfModule>` lines as `AddOutputFilterByType` is still in
    # the core directives.
    #
    # https://httpd.apache.org/docs/current/mod/mod_filter.html#addoutputfilterbytype

    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE "application/atom+xml" \
                                      "application/javascript" \
                                      "application/json" \
                                      "application/ld+json" \
                                      "application/manifest+json" \
                                      "application/rdf+xml" \
                                      "application/rss+xml" \
                                      "application/schema+json" \
                                      "application/vnd.geo+json" \
                                      "application/vnd.ms-fontobject" \
                                      "application/x-font-ttf" \
                                      "application/x-javascript" \
                                      "application/x-web-app-manifest+json" \
                                      "application/xhtml+xml" \
                                      "application/xml" \
                                      "font/eot" \
                                      "font/opentype" \
                                      "image/bmp" \
                                      "image/svg+xml" \
                                      "image/vnd.microsoft.icon" \
                                      "image/x-icon" \
                                      "text/cache-manifest" \
                                      "text/css" \
                                      "text/html" \
                                      "text/javascript" \
                                      "text/plain" \
                                      "text/vcard" \
                                      "text/vnd.rim.location.xloc" \
                                      "text/vtt" \
                                      "text/x-component" \
                                      "text/x-cross-domain-policy" \
                                      "text/xml"

    </IfModule>

    # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    # Map the following filename extensions to the specified
    # encoding type in order to make Apache serve the file types
    # with the appropriate `Content-Encoding` response header
    # (do note that this will NOT make Apache compress them!).
    #
    # If these files types would be served without an appropriate
    # `Content-Enable` response header, client applications (e.g.:
    # browsers) wouldn't know that they first need to uncompress
    # the response, and thus, wouldn't be able to understand the
    # content.
    #
    # https://httpd.apache.org/docs/current/mod/mod_mime.html#addencoding

    <IfModule mod_mime.c>
        AddEncoding gzip              svgz
    </IfModule>

</IfModule>



# ------------------------------------------------------------------------------
# | Rules for Versioned Static Files
# ------------------------------------------------------------------------------

RewriteRule ^(js|css)/(.+)\.(.+)\.(js|css)$ $1/$2.$4 [L]




