

// ---------------------------------
// |            Display            |
// ---------------------------------

.inline-block {
	display: inline-block;
}

.block {
	display: block;
}

.flex {
	display: flex;
}

// Flexbox-based vertical and horizontal center
// Requires parent div.flex
.completeCenter {
	display: flex;
	flex-direction: column;
	justify-content: center; // vertical placement
	align-items: center; // horizontal placement
}

// ---------------------------------------------------------------------- //


// ----------------------------------
// |            Position            |
// ----------------------------------

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

