

// ---------------------------------
// |            Display            |
// ---------------------------------

.display-inline-block {
	display: inline-block;
}

.display-block {
	display: block;
}

.display-flex {
	display: flex;
}


// ---------------------------------------------------------------------- //


// ----------------------------------
// |            Position            |
// ----------------------------------

.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}
