@import "../_settings.scss";


// ---------------------------------
// |            Padding            |
// ---------------------------------

.padding-0 {
	padding: 0;
}

.padding-X {
	padding: 0 rem-calc(15);
}

.padding-Y {
	padding: rem-calc(15) 0;
}


// ---------------------------------
// |            Margins            |
// ---------------------------------

// NO MARGIN
.m-0 {
	margin: 0;
}
