// 4-8-12-16-20-24-32-40

// ---------------------------------
// |            Padding            |
// ---------------------------------

.p-0 {
	padding: 0;
}

.p-4 {
	padding: 4;
}

.p-8 {
	padding: 8;
}

.p-12 {
	padding: 12;
}

.p-16 {
	padding: 16;
}

.p-20 {
	padding: 20;
}

.p-24 {
	padding: 24;
}

.p-32 {
	padding: 32;
}

.p-40 {
	padding: 40;
}

// -------------------------------------
// |            padding-top            |
// -------------------------------------

.pt-0 {
	padding-top: 0;
}

.pt-4 {
	padding-top: 4;
}

.pt-8 {
	padding-top: 8;
}

.pt-12 {
	padding-top: 12;
}

.pt-16 {
	padding-top: 16;
}

.pt-20 {
	padding-top: 20;
}

.pt-24 {
	padding-top: 24;
}

.pt-32 {
	padding-top: 32;
}

.pt-40 {
	padding-top: 40;
}

// ----------------------------------------
// |            padding-bottom            |
// ----------------------------------------

.pb-0 {
	padding-bottom: 0;
}

.pb-4 {
	padding-bottom: 4;
}

.pb-8 {
	padding-bottom: 8;
}

.pb-12 {
	padding-bottom: 12;
}

.pb-16 {
	padding-bottom: 16;
}

.pb-20 {
	padding-bottom: 20;
}

.pb-24 {
	padding-bottom: 24;
}

.pb-32 {
	padding-bottom: 32;
}

.pb-40 {
	padding-bottom: 40;
}

// ---------------------------------------
// |            padding-right            |
// ---------------------------------------

.pr-0 {
	padding-right: 0;
}

.pr-4 {
	padding-right: 4;
}

.pr-8 {
	padding-right: 8;
}

.pr-12 {
	padding-right: 12;
}

.pr-16 {
	padding-right: 16;
}

.pr-20 {
	padding-right: 20;
}

.pr-24 {
	padding-right: 24;
}

.pr-32 {
	padding-right: 32;
}

.pr-40 {
	padding-right: 40;
}

// --------------------------------------
// |            padding-left            |
// --------------------------------------

.pl-0 {
	padding-left: 0;
}

.pl-4 {
	padding-left: 4;
}

.pl-8 {
	padding-left: 8;
}

.pl-12 {
	padding-left: 12;
}

.pl-16 {
	padding-left: 16;
}

.pl-20 {
	padding-left: 20;
}

.pl-24 {
	padding-left: 24;
}

.pl-32 {
	padding-left: 32;
}

.pl-40 {
	padding-left: 40;
}

// ---------------------------------------------------------------------- //


// ---------------------------------
// |            Margins            |
// ---------------------------------

.margin-0 {
	margin: 0;
}

.margin-X {
	margin-left: rem-calc(15);
	margin-right: rem-calc(15);
}

.margin-Y {
	margin-top: rem-calc(15);
	margin-bottom: rem-calc(15);
}

.margin-XY {
	margin: rem-calc(15);
}


// ---------------------------------------------------------------------- //
