@import "../_settings.scss";


// ---------------------------------
// |            Padding            |
// ---------------------------------

// NO PADDING
.p-0 {
	padding: 0;
}

// PADDING X
.p-x {
	padding: 0 rem-calc(16);
}

// PADDING Y
.p-y {
	padding: rem-calc(16) 0;
}