// ---------------------------------
// |            Heights            |
// ---------------------------------

.h-25 {
	height: 25%;
}

.h-50 {
	height: 50%;
}

.h-75 {
	height: 75%;
}

.h-100 {
	height: 100%;
}


// --------------------------------
// |            Widths            |
// --------------------------------

.w-25 {
	width: 25%;
}

.w-50 {
	width: 50%;
}

.w-75 {
	width: 75%;
}

.w-100 {
	width: 100%;
}
