@import "../_settings.scss";


// CUSTOM Highlighted Text Effect
// ::-moz-selection {
//     background: #b3d4fc;
//     text-shadow: none;
// }

// ::selection {
//     background: #b3d4fc;
//     text-shadow: none;
// }

