@import "../_settings.scss";

// ---------------------------------
// |            Display            |
// ---------------------------------

.inline-block {
	display: inline-block;
}

.block {
	display: block;
}

// ---------------------------------------------------------------------- //


// ------------------------------------
// |            box-shadow            |
// ------------------------------------

.boxShadow-1 {
	box-shadow: $z-1;
}

.boxShadow-2 {
	box-shadow: $z-2;
}

.boxShadow-3 {
	box-shadow: $z-3;
}

.boxShadow-4 {
	box-shadow: $z-4;
}

.boxShadow-5 {
	box-shadow: $z-5;
}

// ---------------------------------------------------------------------- //

