// --------------------------------------------------
// |            1.414 - Augmented Fourth            |
// --------------------------------------------------

$h1-medium: rem-calc(64);
$h2-medium: rem-calc(45);
$h3-medium: rem-calc(32);
$h4-medium: rem-calc(22);
