// ---------------------------------------------
// |            1.200 - Minor Third            |
// ---------------------------------------------

$h1-medium: rem-calc(33)
$h2-medium: rem-calc(27)
$h3-medium: rem-calc(23)
$h4-medium: rem-calc(19)
