// ----------------------------------------------
// |            1.067 - Minor Second            |
// ----------------------------------------------

$h1-medium: rem-calc(21);
$h2-medium: rem-calc(19);
$h3-medium: rem-calc(18);
$h4-medium: rem-calc(17);
