// ------------------------------------------------
// |            1.333 - Perfect Fourth            |
// ------------------------------------------------

$h1-medium: rem-calc(50);
$h2-medium: rem-calc(38);
$h3-medium: rem-calc(28);
$h4-medium: rem-calc(21);
