<?php
	include($_SERVER['DOCUMENT_ROOT'].'/php/autoVer.php');
?>
<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{ title }}</title>
	<meta name="description" content="{{ description }}">
	<link href="http://url.com{{ url }}" rel="canonical">
	<link href="/humans.txt" rel="author">

	<link href="{{ cdn }}<?php autoVer('/css/app.css'); ?>" rel="stylesheet">

</head>
<body id="{{ body-id }}" class="{{ body-class }}">



{{> body}}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery/3-3-1/jquery-min.js"><\/script>')</script>
<script src="{{ cdn }}<?php autoVer('/js/app-min.js'); ?>"></script>

{{> scripts-tag}}

</body>
</html>
